/* ul {
  list-style-type: none;
}
li {

} */
/* .NavBar {
  width: 40px;
  transition-timing-function: cubic-bezier(0, 0, .2, 1);
  transition-property: all;
} */
/* .NavBar:hover {
  width: 300px !important;
} */
/* .NavBar:not(:hover) .NavBar_Item {
  width: 40px !important;
  padding: 0 !important;
} */
/* .NavBar:not(:hover) .NavBar_Item .NavBar_ItemText {
  display: none;
} */

/* .NavBar_Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 98;
  background: #00000070;
} */
