/*

  zed menu shifting content
  main
    aside - menu week list
    div - "main body container" - add classes to this

*/

/* aside

  add opacity change 0 to 1 function?
  width: 75%;
  min-height: 100vh;
  height: 100%;

*/


/* div */
/* .ease-out {
  transition-timing-function: cubic-bezier(0,0,.2,1);
}
.duration-200 {
  transition-duration: .2s;
} */
/* 
.WeekMenu_Backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 96;
  background: #00000070;
} */
