.MaterialSwitch {
  display: block;
  min-height: 40px;
  width: 60px;
}
.MaterialSwitch input[type="checkbox"] {
  display: none;
}
.MaterialSwitch label {
  cursor: pointer;
  height: 0px;
  position: relative;
  width: 40px;
}
.MaterialSwitch > label::before {
  background: var(--active-background);
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0);
  border-radius: 8px;
  content: '';
  height: 16px;
  margin-top: -8px;
  position:absolute;
  /* opacity: 0.3; */
  transition: all 0.2s ease-in-out;
  width: 40px;
  top: 37px;
  left: 10px;
}
.MaterialSwitch > label::after {
  background: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  content: '';
  height: 24px;
  left: -4px;
  margin-top: -8px;
  position: absolute;
  transition: all 0.2s ease-in-out;
  width: 24px;
  top: 33px;
  left: 10px;
}
.MaterialSwitch > input[type="checkbox"]:checked + label::before {
  background: var(--inactive-background);
  opacity: 0.5;
}
.MaterialSwitch > input[type="checkbox"]:checked + label::after {
  left: 27px;
}
